<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979685410658-8b4brhugsh52me4dcn0fh669mookcqqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979685410658-8b4brhugsh52me4dcn0fh669mookcqqr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979685410658-agthn45ikpsp632p4t2tgnrotn79v2u8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk6cjsZSl7RdrKkehSbOfdPNdbz-F8-BU</string>
	<key>GCM_SENDER_ID</key>
	<string>979685410658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.gimpaskillconnect</string>
	<key>PROJECT_ID</key>
	<string>gimpaskillconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>gimpaskillconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979685410658:ios:c8204d10ffa9a98fcc0e3b</string>
</dict>
</plist>